@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.humble-page-cont {
  position: relative;
  height: 75vh;
  width: 100%;
  background: #081c15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 0px;
}

@media screen and (max-width: 1200px) {
  .humble-page-cont {
    height: 1100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) and (max-width: 650px) {
  .humble-page-cont {
    height: 950px;
  }
}

.humble-page-cont .info-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1200px) {
  .humble-page-cont .info-container {
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px;
    padding-top: 50px;
  }
}

.humble-page-cont .info-container .video-container {
  position: relative;
  height: 500px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.877);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.877);
}

@media screen and (max-width: 1200px) {
  .humble-page-cont .info-container .video-container {
    width: 85%;
    height: 400px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .humble-page-cont .info-container .video-container {
    width: 95%;
    height: 250px;
  }
}

.humble-page-cont .info-container .link-container {
  position: relative;
  width: 60%;
  height: 65px;
  background: #b7e4c7;
  border-radius: 20px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2d6a4f;
  font-family: "Shadows Into Light", cursive;
  font-weight: 900;
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .humble-page-cont .info-container .link-container {
    width: 85%;
    height: 50px;
    margin: 20px 0px;
  }
}

@media screen and (max-width: 500px) {
  .humble-page-cont .info-container .link-container {
    width: 90%;
    height: 50px;
    margin: 5px 0px;
  }
}

.humble-page-cont .info-container .link-container:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  text-decoration: none;
}

.humble-page-cont .info-container .link-container .link-icon {
  position: absolute;
  left: 20%;
  color: #2d6a4f;
  font-size: 35px;
}

@media screen and (max-width: 500px) {
  .humble-page-cont .info-container .link-container .link-icon {
    left: 10%;
  }
}

.humble-page-cont .info-container .project-title {
  position: absolute;
  top: -12px;
  left: 120px;
  width: 100%;
  font-size: 65px;
  font-family: "Shadows Into Light", cursive;
  text-transform: uppercase;
  color: #52b7888a;
}

@media screen and (max-width: 1200px) {
  .humble-page-cont .info-container .project-title {
    left: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .humble-page-cont .info-container .project-title {
    font-size: 50px;
    top: 2px;
  }
}

.humble-page-cont .right-col {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .humble-page-cont .right-col {
    position: absolute;
    bottom: -50px;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 750px) {
  .humble-page-cont .right-col {
    position: relative;
    bottom: 50px;
  }
}

.humble-page-cont .right-col .project-name {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 70px;
  color: #52b788;
  text-transform: uppercase;
  font-family: "Arimo", sans-serif;
}

.humble-page-cont .right-col .project-name .nutrition {
  font-family: "Shadows Into Light", cursive;
}

@media screen and (max-width: 1500px) {
  .humble-page-cont .right-col .project-name {
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .humble-page-cont .right-col .project-name {
    font-size: 70px;
  }
}

@media screen and (max-width: 650px) {
  .humble-page-cont .right-col .project-name {
    height: 50px;
    font-size: 50px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .humble-page-cont .right-col .project-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 40px;
    margin-bottom: 0px;
    top: 20px;
  }
}

.humble-page-cont .right-col .tech-used-container {
  position: relative;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.humble-page-cont .right-col .tech-used-container h1 {
  font-size: 30px;
  font-family: "Hind Gunter", sans-serif;
  text-transform: uppercase;
  color: #52b78860;
  -webkit-text-decoration: underline #52b78860;
          text-decoration: underline #52b78860;
  left: 50px;
  margin-top: 30px;
  cursor: default;
}

.humble-page-cont .right-col .tech-used-container .tech {
  position: relative;
  height: 100%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .humble-page-cont .right-col .tech-used-container .tech {
    width: 90%;
  }
}

.humble-page-cont .right-col .tech-used-container .tech .tech-icon {
  font-size: 50px;
  color: #74c69d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: default;
}

.humble-page-cont .right-col .tech-used-container .tech .tech-icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.humble-page-cont .right-col .adjust-container {
  position: relative;
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: none;
  margin: 30px 0px;
}

@media screen and (max-width: 800px) {
  .humble-page-cont .right-col .adjust-container {
    width: 80%;
    left: 0%;
  }
}

@media screen and (max-width: 550px) {
  .humble-page-cont .right-col .adjust-container {
    width: 90%;
  }
}

@media screen and (max-height: 600px) {
  .humble-page-cont .right-col .adjust-container {
    height: 80px;
  }
}

.humble-page-cont .right-col .adjust-container p {
  color: #52b788;
  text-transform: uppercase;
  padding-left: 15px;
}

@media screen and (max-width: 800px) {
  .humble-page-cont .right-col .adjust-container p {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .humble-page-cont .right-col .adjust-container p {
    padding-left: 0px;
  }
}

.humble-page-cont .right-col .adjust-container .button-cnt {
  position: relative;
  width: 100%;
  height: 50px;
  background: none;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
}

@media screen and (max-width: 800px) {
  .humble-page-cont .right-col .adjust-container .button-cnt {
    padding-left: 0px;
  }
}

@media screen and (max-width: 550px) {
  .humble-page-cont .right-col .adjust-container .button-cnt {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.humble-page-cont .right-col .adjust-container .button-cnt .radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

.humble-page-cont .right-col .adjust-container .button-cnt .button {
  position: relative;
  left: 25px;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 350px) {
  .humble-page-cont .right-col .adjust-container .button-cnt .button {
    height: 20px;
    width: 20px;
  }
}

.humble-page-cont .right-col .adjust-container .button-cnt .radio__radio {
  width: 25px;
  height: 25px;
  border: 2px solid #95d5b2;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
}

@media screen and (max-width: 350px) {
  .humble-page-cont .right-col .adjust-container .button-cnt .radio__radio {
    height: 20px;
    width: 20px;
  }
}

.humble-page-cont .right-col .adjust-container .button-cnt .radio__radio::after {
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  background: #52b788;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.humble-page-cont .right-col .adjust-container .button-cnt .button:checked + .radio__radio::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.humble-page-cont .right-col .adjust-container .button-text {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
}

.humble-page-cont .right-col .adjust-container .button-text .shortest {
  position: absolute;
  left: 0px;
}

.humble-page-cont .right-col .adjust-container .button-text .longest {
  position: absolute;
  right: 0px;
}

.humble-page-cont .right-col .humble-p {
  position: relative;
  font-family: "Hind Gunter", sans-serif;
  color: #52b788;
  text-align: center;
  width: 70%;
  min-height: 350px;
  z-index: 6;
  font-size: 20px;
  margin-top: 20px;
  overflow-y: auto;
}

@media screen and (max-width: 1500px) {
  .humble-page-cont .right-col .humble-p {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .humble-page-cont .right-col .humble-p {
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .humble-page-cont .right-col .humble-p {
    padding: 0px 50px;
  }
}

@media screen and (max-height: 600px) {
  .humble-page-cont .right-col .humble-p {
    padding: 20px 0px;
    font-size: 15px;
    height: 150px;
    overflow-y: auto;
  }
}

@media screen and (max-height: 900px) {
  .humble-page-cont .right-col .humble-p {
    font-size: 16px;
    padding-right: 0px;
  }
}

@media screen and (max-height: 820px) {
  .humble-page-cont .right-col .humble-p {
    height: 150px;
    overflow-y: auto;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 550px) {
  .humble-page-cont .right-col .humble-p {
    padding-left: 0px;
    font-size: 15px;
    padding: 0px 20px;
  }
}

.humble-page-cont .right-col .blookify-p::-webkit-scrollbar-track {
  background: #ddb892;
}

.humble-page-cont .right-col .blookify-p::-webkit-scrollbar-thumb {
  background: #7f5539;
}
/*# sourceMappingURL=humble.css.map */