//                              FONTS                              //
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');
// Portfolio-fonts
$font1: 'Anton', sans-serif;
$font2: 'Fira Sans', sans-serif;
$font3: 'Hind Gunter', sans-serif;

.ahes-page-cont {
  position: relative;
  height: 100%;
  width: 100%;
  background: #a6d8da;
  display: flex;
  flex-direction: row;
  padding: 0px 0px;
  .info-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    @media screen and (max-width: 1200px) {
      position: absolute;
      z-index: 3;
    }
    @media screen and (max-width: 800px) {
      text-align: center;
      width: 100%;
    }
    .text-content-container-long {
      position: absolute;
      width: 876px;
      background: none;
      top: 150px;
      display: flex;
      flex-direction: column;
      padding-left: 76px;
      transition: 0.5s;
      @media screen and (max-width: 1500px) {
        padding-left: 30px;
      }
      @media screen and (max-width: 1200px) {
        padding-left: 30px;
        top: 50px;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        padding-left: 0px;
        top: 150px;
      }
      @media screen and (max-height: 820px) {
        top: 80px;
      }
    }
    .text-content-container {
      position: absolute;
      width: 876px;
      background: none;
      top: 200px;
      display: flex;
      flex-direction: column;
      padding-left: 76px;
      transition: 0.5s;
      z-index: 2;
      @media screen and (max-width: 1500px) {
        padding-left: 30px;
      }
      @media screen and (max-width: 1200px) {
        padding-left: 30px;
        top: 100px;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        padding-left: 0px;
      }
      @media screen and (max-width: 550px) {
        top: 200px;
      }
      @media screen and (max-height: 820px) {
        top: 150px;
      }
      @media screen and (max-height: 600px) {
        top: 80px;
      }
    }
    .AHES-h1-1 {
      position: relative;
      font-family: $font1;
      color: white;
      font-size: 120px;
      text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.116);
      margin-bottom: -10px;
      @media screen and (max-width: 1500px) {
        font-size: 80px;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
      }
      @media screen and (max-width: 550px) {
        font-size: 70px;
        text-align: center;
        padding-left: 0px;
      }
      @media screen and (max-height: 600px) {
        font-size: 50px;
        text-align: center;
        text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.281);
      }
    }
    .button-container {
      position: relative;
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
      @media screen and (max-width: 550px) {
        text-align: start;
        width: 100%;
        justify-content: space-evenly;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
        justify-content: space-evenly;
      }
      @media screen and (max-width: 420px) {
        flex-direction: column-reverse;
      }
      .link-container {
        position: relative;
        margin-right: 50px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: 550px) {
          justify-content: center;
          margin-right: 0px;
        }
        @media screen and (max-width: 420px) {
          margin-bottom: 10px;
          width: 200px;
        }
        &:hover {
          text-decoration: none;
        }

        .icon {
          color: #f1faee;
          margin-right: 20px;
          font-size: 40px;
          @media screen and (max-width: 420px) {
            font-size: 25px;
          }
        }
        .link-button {
          height: 100%;
          width: 100%;
          background: #457b9d;
          padding: 5px 20px;
          border-radius: 20px;
          color: #a8dadc;
          font-family: $font3;
          font-size: 20px;
          text-transform: none;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
          transition: 0.5s;
          &:hover {
            background: #2d5168;
            transform: translateY(-5px);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.267);
          }
          @media screen and (max-width: 420px) {
            font-size: 15px;
          }
        }
      }
    }
    .adjust-container {
      position: relative;
      height: 100px;
      width: 50%;
      display: flex;
      flex-direction: column;
      background: none;
      margin: 10px 0px;
      @media screen and (max-width: 800px) {
        width: 70%;
        left: 15%;
      }
      @media screen and (max-width: 550px) {
        width: 90%;
        left: 5%;
      }
      @media screen and (max-height: 600px) {
        height: 80px;
      }
      p {
        color: #1d3557;
        text-transform: uppercase;
        padding-left: 15px;
        @media screen and (max-width: 800px) {
          text-align: center;
        }
        @media screen and (max-width: 550px) {
          padding-left: 0px;
        }
      }
      .button-cnt {
        position: relative;
        width: 100%;
        height: 50px;
        background: none;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: none;
        @media screen and (max-width: 800px) {
          padding-left: 0px;
        }
        @media screen and (max-width: 550px) {
          justify-content: center;
        }
        .radio {
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          margin-right: 20px;
        }
        .button {
          position: relative;
          left: 25px;
          opacity: 0;
          cursor: pointer;
          height: 25px;
          width: 25px;
          @media screen and (max-width: 350px) {
            height: 20px;
            width: 20px;
          }
        }
        .radio__radio {
          width: 25px;
          height: 25px;
          border: 2px solid #e63946;
          border-radius: 50%;
          margin-right: 10px;
          box-sizing: border-box;
          padding: 3px;
          @media screen and (max-width: 350px) {
            height: 20px;
            width: 20px;
          }
        }
        .radio__radio::after {
          content: ' ';
          width: 100%;
          height: 100%;
          display: block;
          background: #00a6fb;
          border-radius: 50%;

          transform: scale(0);
          transition: 0.35s;
        }
        .button:checked + .radio__radio::after {
          transform: scale(1);
        }
      }

      .button-text {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 30px;
        .shortest {
          position: absolute;
          left: 0px;
        }
        .longest {
          position: absolute;
          right: 0px;
        }
      }
    }
    .ahes-p {
      position: relative;
      font-family: $font3;
      color: #1d3557;
      padding-left: 15px;
      padding-right: 0px;
      width: 100%;
      font-size: 20px;
      margin-top: 20px;

      @media screen and (max-width: 1500px) {
        width: 60%;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
        width: 100%;
        padding-top: 20px;
      }

      @media screen and (max-height: 600px) {
        padding: 20px 0px;
        font-size: 15px;
        height: 150px;
        overflow-y: auto;
      }
      @media screen and (max-height: 900px) {
        font-size: 16px;
        padding-right: 0px;
      }
      @media screen and (max-height: 820px) {
        height: 150px;
        overflow-y: auto;
        padding-bottom: 100px;
      }
      @media screen and (max-width: 550px) {
        padding-left: 0px;
        font-size: 15px;
        padding: 0px 20px;
      }
    }
    .important-links {
      position: relative;
      width: 80%;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50px;
      @media screen and (max-width: 1500px) {
        width: 60%;
        justify-content: space-between;
        left: 15px;
      }
      @media screen and (max-width: 1200px) {
        display: none;
      }
      .icon {
        color: #e63946;
        transition: 0.5s;
        margin-right: 110px;
        &:hover {
          color: #9e1d28;
          transform: translateY(-10px);
        }
        @media screen and (max-width: 1500px) {
          margin-right: 60px;
        }
      }
      .icon-text {
        position: absolute;
        color: #00a6fb;
        font-family: $font3;
      }
    }
  }
  .right-col {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;

    @media screen and (max-width: 550px) {
      justify-content: center;
    }
    .ahes-img {
      position: absolute;
      height: 780px;
      width: 594px;
      top: 63px;
      right: 18%;
      z-index: 2;
      transition: 0.5s;

      @media screen and (max-width: 1700px) {
        right: 13%;
      }

      @media screen and (max-width: 1400px) {
        height: 650px;
        width: 480px;
        top: 220px;
        right: 10%;
      }
      @media screen and (max-width: 1200px) {
        height: 750px;
        width: 550px;
        top: 120px;
        right: 2%;
      }
      @media screen and (max-width: 1050px) {
        right: 0px;
        top: 120px;
      }
      @media screen and (max-width: 950px) {
        display: none;
      }
    }
    .ahes-gradient-box {
      position: absolute;
      height: 100%;
      width: 486px;
      right: 268px;
      background: linear-gradient(
        325deg,
        #e63946,
        #559bc8,
        #457b9d,
        #e63946,
        #a12a33
      );
      background-size: 1000% 1000%;

      -webkit-animation: ahes-gradient 19s ease infinite;
      -moz-animation: ahes-gradient 19s ease infinite;
      animation: ahes-gradient 19s ease infinite;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.39);
      transition: 0.5s;
      @media screen and (max-width: 1700px) {
        right: 168px;
      }
      @media screen and (max-width: 1350px) {
        left: 300px;
        width: 350px;
      }
      @media screen and (max-width: 1200px) {
        left: 700px;
      }
      @media screen and (max-width: 800px) {
        left: 0px;
        height: 150px;
        bottom: 0px;
        width: 100%;
      }
      @media screen and (max-height: 700px) {
        height: 120px;
        bottom: 0px;
      }
    }
  }
  .slider-container {
    position: absolute;
    width: 840px;
    height: 200px;
    right: 100px;
    bottom: 30px;
    z-index: 5;
    border-radius: 5px;
    @media screen and (max-width: 1700px) {
      right: 45px;
      width: 740px;
    }
    @media screen and (max-width: 1700px) {
      right: 45px;
      width: 740px;
    }
    @media screen and (max-width: 1350px) {
      width: 600px;
      height: 150px;
    }
    @media screen and (max-width: 1200px) {
      width: 90%;
      bottom: 30px;
    }
    @media screen and (max-width: 800px) {
      width: 90%;
      bottom: 0px;
      left: 5%;
      right: 0px;
      bottom: 30px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.651);
      background: #393a35;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      left: 0%;
      bottom: 30px;
    }
    @media screen and (max-height: 700px) {
      height: 120px;
    }
    .projects-p {
      position: absolute;
      bottom: -10px;
      z-index: 6;
      width: 100%;
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: $font3;
      text-transform: uppercase;
      animation: pulsefade 5s infinite ease-in-out;
      @media screen and (max-width: 1350px) {
        bottom: -40px;
      }
      @media screen and (max-width: 450px) {
        font-size: 15px;
      }
    }
    .project-container {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #f1faee;
      border-radius: 5px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
      z-index: 5;
      .img-container {
        position: relative;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @media screen and (max-width: 450px) {
          height: 100%;
        }
        .project-imgs {
          position: relative;
          height: 130px;
          width: 258px;
          top: 30px;
          margin: 0px 10px;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.288);
          transition: 0.6s;
          @media screen and (max-width: 1700px) {
            height: 120px;
            width: 220px;
          }
          @media screen and (max-width: 1350px) {
            width: 180px;
            height: 50%;
            top: 30px;
          }
          @media screen and (max-width: 1200px) {
            width: 90%;
            height: 120px;
            top: 20px;
          }
          @media screen and (max-height: 700px) {
            height: 100px;
            top: 10px;
          }
          @media screen and (max-width: 450px) {
            top: 15px;
            width: 85%;
            left: 4.5%;
            height: 140px;
            top: 5px;
          }
          &:hover {
            transform: translateY(-10px);
            cursor: pointer;
            box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.288);
            @media screen and (max-width: 450px) {
              transform: translateY(0px);
            }
          }
        }
      }
    }
  }
}

// Gradient backgrounds
@-webkit-keyframes ahes-gradient {
  0% {
    background-position: 35% 0%;
  }
  50% {
    background-position: 66% 100%;
  }
  100% {
    background-position: 35% 0%;
  }
}
@-moz-keyframes ahes-gradient {
  0% {
    background-position: 35% 0%;
  }
  50% {
    background-position: 66% 100%;
  }
  100% {
    background-position: 35% 0%;
  }
}
@keyframes ahes-gradient {
  0% {
    background-position: 35% 0%;
  }
  50% {
    background-position: 66% 100%;
  }
  100% {
    background-position: 35% 0%;
  }
}
