@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap");
.portfolio-img-container {
  position: absolute;
  z-index: 1;
  width: 850px;
  height: 850px;
  background: none;
  right: 100px;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1700px) {
  .portfolio-img-container {
    right: -20px;
  }
}

@media screen and (max-width: 1500px) {
  .portfolio-img-container {
    right: -100px;
  }
}

.portfolio-img-container .cube-img {
  position: relative;
  height: 700px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 1500px) {
  .portfolio-img-container .cube-img {
    height: 650px;
  }
}

@media screen and (max-width: 1120px) {
  .portfolio-img-container .cube-img {
    height: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .portfolio-img-container .cube-img {
    display: none;
  }
}

.portfolio-img-container .react-img,
.portfolio-img-container .bootstrap-img,
.portfolio-img-container .css-img,
.portfolio-img-container .sass-img,
.portfolio-img-container .html-img,
.portfolio-img-container .express-img,
.portfolio-img-container .redux-img,
.portfolio-img-container .node-img,
.portfolio-img-container .js-img,
.portfolio-img-container .mongo-img {
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.portfolio-img-container .react-img .img,
.portfolio-img-container .bootstrap-img .img,
.portfolio-img-container .css-img .img,
.portfolio-img-container .sass-img .img,
.portfolio-img-container .html-img .img,
.portfolio-img-container .express-img .img,
.portfolio-img-container .redux-img .img,
.portfolio-img-container .node-img .img,
.portfolio-img-container .js-img .img,
.portfolio-img-container .mongo-img .img {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media screen and (max-width: 1120px) {
  .portfolio-img-container .react-img .img,
  .portfolio-img-container .bootstrap-img .img,
  .portfolio-img-container .css-img .img,
  .portfolio-img-container .sass-img .img,
  .portfolio-img-container .html-img .img,
  .portfolio-img-container .express-img .img,
  .portfolio-img-container .redux-img .img,
  .portfolio-img-container .node-img .img,
  .portfolio-img-container .js-img .img,
  .portfolio-img-container .mongo-img .img {
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .portfolio-img-container .react-img .img,
  .portfolio-img-container .bootstrap-img .img,
  .portfolio-img-container .css-img .img,
  .portfolio-img-container .sass-img .img,
  .portfolio-img-container .html-img .img,
  .portfolio-img-container .express-img .img,
  .portfolio-img-container .redux-img .img,
  .portfolio-img-container .node-img .img,
  .portfolio-img-container .js-img .img,
  .portfolio-img-container .mongo-img .img {
    display: none;
  }
}

.portfolio-img-container .react-img .img:hover,
.portfolio-img-container .bootstrap-img .img:hover,
.portfolio-img-container .css-img .img:hover,
.portfolio-img-container .sass-img .img:hover,
.portfolio-img-container .html-img .img:hover,
.portfolio-img-container .express-img .img:hover,
.portfolio-img-container .redux-img .img:hover,
.portfolio-img-container .node-img .img:hover,
.portfolio-img-container .js-img .img:hover,
.portfolio-img-container .mongo-img .img:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  cursor: pointer;
}

.portfolio-img-container .react-img .text-img,
.portfolio-img-container .react-img .text-img2,
.portfolio-img-container .react-img .text-img3,
.portfolio-img-container .bootstrap-img .text-img,
.portfolio-img-container .bootstrap-img .text-img2,
.portfolio-img-container .bootstrap-img .text-img3,
.portfolio-img-container .css-img .text-img,
.portfolio-img-container .css-img .text-img2,
.portfolio-img-container .css-img .text-img3,
.portfolio-img-container .sass-img .text-img,
.portfolio-img-container .sass-img .text-img2,
.portfolio-img-container .sass-img .text-img3,
.portfolio-img-container .html-img .text-img,
.portfolio-img-container .html-img .text-img2,
.portfolio-img-container .html-img .text-img3,
.portfolio-img-container .express-img .text-img,
.portfolio-img-container .express-img .text-img2,
.portfolio-img-container .express-img .text-img3,
.portfolio-img-container .redux-img .text-img,
.portfolio-img-container .redux-img .text-img2,
.portfolio-img-container .redux-img .text-img3,
.portfolio-img-container .node-img .text-img,
.portfolio-img-container .node-img .text-img2,
.portfolio-img-container .node-img .text-img3,
.portfolio-img-container .js-img .text-img,
.portfolio-img-container .js-img .text-img2,
.portfolio-img-container .js-img .text-img3,
.portfolio-img-container .mongo-img .text-img,
.portfolio-img-container .mongo-img .text-img2,
.portfolio-img-container .mongo-img .text-img3 {
  color: white;
  text-shadow: 0px 5px 10px black;
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  font-family: "Arimo", sans-serif;
  z-index: -1;
}

.portfolio-img-container .react-img .text-img2,
.portfolio-img-container .bootstrap-img .text-img2,
.portfolio-img-container .css-img .text-img2,
.portfolio-img-container .sass-img .text-img2,
.portfolio-img-container .html-img .text-img2,
.portfolio-img-container .express-img .text-img2,
.portfolio-img-container .redux-img .text-img2,
.portfolio-img-container .node-img .text-img2,
.portfolio-img-container .js-img .text-img2,
.portfolio-img-container .mongo-img .text-img2 {
  bottom: -20px;
}

.portfolio-img-container .react-img .text-img3,
.portfolio-img-container .bootstrap-img .text-img3,
.portfolio-img-container .css-img .text-img3,
.portfolio-img-container .sass-img .text-img3,
.portfolio-img-container .html-img .text-img3,
.portfolio-img-container .express-img .text-img3,
.portfolio-img-container .redux-img .text-img3,
.portfolio-img-container .node-img .text-img3,
.portfolio-img-container .js-img .text-img3,
.portfolio-img-container .mongo-img .text-img3 {
  bottom: -20px;
  width: 200px;
  text-align: center;
  padding-left: 20px;
}

.portfolio-img-container .react-img {
  top: 0px;
  -webkit-animation: float 12s infinite ease-in-out;
          animation: float 12s infinite ease-in-out;
}

.portfolio-img-container .bootstrap-img {
  top: 360px;
  -webkit-animation: float 15.5s infinite ease-in-out;
          animation: float 15.5s infinite ease-in-out;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.portfolio-img-container .css-img {
  top: 350px;
  left: 225px;
  -webkit-animation: float 15s infinite ease-in-out;
          animation: float 15s infinite ease-in-out;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.portfolio-img-container .sass-img {
  left: 511px;
  top: 390px;
  -webkit-animation: float 15s infinite ease-in-out;
          animation: float 15s infinite ease-in-out;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.portfolio-img-container .html-img {
  top: 530px;
  left: 370px;
  -webkit-animation: float 16s infinite ease-in-out;
          animation: float 16s infinite ease-in-out;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.portfolio-img-container .express-img {
  top: 117px;
  left: 236px;
  -webkit-animation: float 13s infinite ease-in-out;
          animation: float 13s infinite ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.portfolio-img-container .redux-img {
  top: 120px;
  left: 500px;
  -webkit-animation: float 13s infinite ease-in-out;
          animation: float 13s infinite ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.portfolio-img-container .node-img {
  top: 245px;
  left: 606px;
  -webkit-animation: float 14s infinite ease-in-out;
          animation: float 14s infinite ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.portfolio-img-container .js-img {
  top: 249px;
  -webkit-animation: float 14.5s infinite ease-in-out;
          animation: float 14.5s infinite ease-in-out;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.portfolio-img-container .mongo-img {
  top: 227px;
  left: 135px;
  -webkit-animation: float 14s infinite ease-in-out;
          animation: float 14s infinite ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=img.css.map */