@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
.landing-page-cont {
  position: relative;
  height: 100%;
  width: 100%;
  background: #2b2c28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing-page-cont .info-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px;
}

.landing-page-cont .info-container .text-content-container {
  position: absolute;
  width: 876px;
  background: none;
  top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 76px;
}

.landing-page-cont .info-container .text-content-container .portfolio-h1-1 {
  position: relative;
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 120px;
  text-shadow: 0px 10px 20px black;
  margin-bottom: -10px;
}

.landing-page-cont .info-container .text-content-container .portfolio-h1-2 {
  position: relative;
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 90px;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.438);
}

.landing-page-cont .info-container .text-content-container .portfolio-h1-3 {
  position: relative;
  font-family: "Unica One", cursive;
  color: #58eed5;
  font-size: 65px;
  letter-spacing: 5px;
}

.landing-page-cont .info-container .text-content-container .portfolio-p {
  position: relative;
  font-family: "Hind Gunter", sans-serif;
  color: #7de2d1;
  padding-left: 15px;
  width: 80%;
  font-size: 20px;
}

.landing-page-cont .info-container .text-content-container .important-links {
  position: relative;
  width: 80%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50px;
}

.landing-page-cont .info-container .text-content-container .important-links .icon {
  color: #00ffd5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 100px;
}

.landing-page-cont .info-container .text-content-container .important-links .icon:hover {
  color: #00a388;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.landing-page-cont .info-container .text-content-container .important-links .icon-text {
  position: absolute;
  color: white;
  font-family: "Hind Gunter", sans-serif;
}

.landing-page-cont .right-col {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px;
}

.landing-page-cont .right-col .tech-h1 {
  position: absolute;
  color: #00ffd5;
  font-size: 80px;
  top: 15%;
  left: 550px;
  opacity: 0;
  -webkit-animation: techh1 5s ease-in-out;
          animation: techh1 5s ease-in-out;
}

.landing-page-cont .right-col .img-zoom {
  z-index: 3;
}

.landing-page-cont .right-col .gradient-box {
  position: absolute;
  height: 100%;
  width: 486px;
  background: #7de2d1;
  right: 268px;
  -webkit-box-shadow: 0px 0px 5 0px black;
          box-shadow: 0px 0px 5 0px black;
  background: linear-gradient(359deg, #23524b, #339989, #4ceed3, #80ffea);
  background-size: 800% 800%;
  z-index: 0;
  -webkit-animation: portfolio-bg 9s ease infinite;
  animation: portfolio-bg 9s ease infinite;
}

@media screen and (max-width: 1700px) {
  .landing-page-cont .right-col .gradient-box {
    right: 168px;
  }
}

.landing-page-cont .project-container {
  position: absolute;
  width: 840px;
  height: 200px;
  background: #339989;
  right: 100px;
  bottom: 50px;
  z-index: 3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

@media screen and (max-width: 1700px) {
  .landing-page-cont .project-container {
    right: 45px;
    width: 740px;
  }
}

.landing-page-cont .project-container .img-container {
  position: relative;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landing-page-cont .project-container .img-container .project-imgs {
  position: relative;
  height: 130px;
  width: 258px;
  top: 30px;
  margin: 0px 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.288);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media screen and (max-width: 1700px) {
  .landing-page-cont .project-container .img-container .project-imgs {
    height: 120px;
    width: 220px;
  }
}

.landing-page-cont .project-container .img-container .project-imgs:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.288);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.288);
}

@-webkit-keyframes portfolio-bg {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@keyframes portfolio-bg {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@-webkit-keyframes techh1 {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  25% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 1;
  }
  65% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}

@keyframes techh1 {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  25% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 1;
  }
  65% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}
/*# sourceMappingURL=landingpage.css.map */