@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.menu-container {
  position: fixed;
  height: 75px;
  width: 75px;
  background: none;
  bottom: 20px;
  right: 50px;
  z-index: 50;
}

@media screen and (max-width: 700px) {
  .menu-container {
    bottom: 10px;
    right: 20px;
    height: 60px;
    width: 60px;
  }
}

.menu-container .menu-button {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.422);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.422);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #f11aee;
}

.menu-container .menu-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.422);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.422);
}

.menu-container .menu-button .info-button {
  position: relative;
  height: 105%;
  width: 105%;
  top: -1px;
  left: -1px;
}

.menu-container .portfolioButton {
  color: #2feeee;
}

.menu-container .blookifyButton {
  background: #e6ccb2;
  color: #7f5539;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-container .blookifyButton:hover {
  background: #7f5539;
  color: #e6ccb2;
}

.menu-container .ahesButton {
  color: #1d3557;
  background: #f1faee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-container .ahesButton:hover {
  background: #1d3557;
  color: #f1faee;
}

.menu-container .humbleButton {
  background: #1b4332;
  color: #95d5b2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Shadows Into Light", cursive;
}

.menu-container .humbleButton:hover {
  color: #1b4332;
  background: #95d5b2;
}

.menu-container .menu-item-container {
  position: absolute;
  bottom: 100px;
  right: 0px;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  background: none;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.479);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.479);
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-container .menu-item-container .menu-item {
  position: relative;
  min-height: 25%;
  width: 100%;
  background: #2b2c28;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-container .menu-item-container .menu-item .menu-item-link {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-container .menu-item-container .menu-item .portfolioLink {
  background: #2b2c28;
  color: #2feeee;
  text-shadow: 1.5px 1.5px 0px #f11aee;
}

.menu-container .menu-item-container .menu-item .portfolioLink:hover {
  color: #f11aee;
  text-shadow: 1px 1px 0px #2feeee;
}

.menu-container .menu-item-container .menu-item .blookifyLink {
  background: #e6ccb2;
  color: #7f5539;
  font-family: "Lobster", cursive;
}

.menu-container .menu-item-container .menu-item .blookifyLink:hover {
  background: #7f5539;
  color: #e6ccb2;
}

.menu-container .menu-item-container .menu-item .ahesLink {
  background: #1d3557;
  color: #f1faee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Anton", sans-serif;
}

.menu-container .menu-item-container .menu-item .ahesLink:hover {
  color: #1d3557;
  background: #f1faee;
}

.menu-container .menu-item-container .menu-item .humbleLink {
  background: #1b4332;
  color: #95d5b2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Shadows Into Light", cursive;
}

.menu-container .menu-item-container .menu-item .humbleLink:hover {
  color: #1b4332;
  background: #95d5b2;
}

.menu-container .menu-item-container .blookifyButton {
  background: #e6ccb2;
  color: #7f5539;
}

.menu-container .menu-item-hidden {
  display: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=sidemenu.css.map */