@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
$font1: 'Lobster', cursive;
$font2: 'Anton', sans-serif;
$font3: 'Shadows Into Light', cursive;
.menu-container {
  position: fixed;
  height: 75px;
  width: 75px;
  background: none;
  bottom: 20px;
  right: 50px;
  z-index: 50;
  @media screen and (max-width: 700px) {
    bottom: 10px;
    right: 20px;
    height: 60px;
    width: 60px;
  }
  .menu-button {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.422);
    transition: 0.5s;
    background: #f11aee;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.422);
    }
    .info-button {
      position: relative;
      height: 105%;
      width: 105%;
      top: -1px;
      left: -1px;
    }
  }
  .portfolioButton {
    color: #2feeee;
  }
  .blookifyButton {
    background: #e6ccb2;
    color: #7f5539;
    transition: 0.5s;
    &:hover {
      background: #7f5539;
      color: #e6ccb2;
    }
  }
  .ahesButton {
    color: #1d3557;
    background: #f1faee;
    transition: 0.5s;
    &:hover {
      background: #1d3557;
      color: #f1faee;
    }
  }
  .humbleButton {
    background: #1b4332;
    color: #95d5b2;
    transition: 0.5s;
    font-family: $font3;
    &:hover {
      color: #1b4332;
      background: #95d5b2;
    }
  }
  .menu-item-container {
    position: absolute;
    bottom: 100px;
    right: 0px;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    background: none;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.479);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    .menu-item {
      position: relative;
      min-height: 25%;
      width: 100%;
      background: #2b2c28;
      transition: 0.5s;
      .menu-item-link {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        text-decoration: none;
        transition: 0.5s;
      }
      .portfolioLink {
        background: #2b2c28;
        color: #2feeee;
        text-shadow: 1.5px 1.5px 0px #f11aee;
        &:hover {
          color: #f11aee;
          text-shadow: 1px 1px 0px #2feeee;
        }
      }
      .blookifyLink {
        background: #e6ccb2;
        color: #7f5539;
        font-family: $font1;
        &:hover {
          background: #7f5539;
          color: #e6ccb2;
        }
      }
      .ahesLink {
        background: #1d3557;
        color: #f1faee;
        transition: 0.5s;
        font-family: $font2;
        &:hover {
          color: #1d3557;
          background: #f1faee;
        }
      }
      .humbleLink {
        background: #1b4332;
        color: #95d5b2;
        transition: 0.5s;
        font-family: $font3;
        &:hover {
          color: #1b4332;
          background: #95d5b2;
        }
      }
    }
    .blookifyButton {
      background: #e6ccb2;
      color: #7f5539;
    }
  }
  .menu-item-hidden {
    display: none;
  }
}

.hidden {
  display: none;
}
