//                              FONTS                              //
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
// Portfolio-fonts
$font1: 'Arimo', sans-serif;
$font2: 'Trirong', serif;
$font3: 'Lobster', cursive;
$font4: 'Unica One', cursive;
$font5: 'Anton', sans-serif;
$font6: 'Shadows Into Light', cursive;
$font7: 'Fira Sans Condensed', sans-serif;
.nav-bar-container {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  background: rgba(32, 32, 32, 0.925);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  display: flex;
  justify-content: flex-end;
  transition: 0.5s;
  //   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.308);
  @media screen and (max-width: 800px) {
    justify-content: center;
  }
  .nav-bar-icon {
    position: absolute;
    height: 100%;
    width: 200px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1500px) {
      left: 50px;
    }
    @media screen and (max-width: 800px) {
      position: relative;
      left: 0px;
      width: 100%;
    }
    .logo-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-self: center;

      .logo {
        position: relative;
        transition: 0.5s;
        height: 90%;
        width: 70%;
        cursor: pointer;
        &:hover {
          transform: translateY(-5px);
        }
        @media screen and (max-width: 800px) {
          width: 80%;
        }
      }
    }
  }
  .nav-bar-items {
    position: relative;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    right: 50px;
    @media screen and (max-width: 1300px) {
      width: 50%;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
    .links {
      position: relative;
      font-size: 20px;
      text-shadow: 1.5px 1.5px 0px #f11aee;
      color: #2eefee;

      font-weight: 800;
      cursor: pointer;
      transition: 0.5s;
      font-family: $font7;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
        transform: translateY(-3px);
        color: #f11aee;
        text-shadow: 1px 1px 0px #2eefee;
      }
    }
    .blookifylinks {
      color: #7f5539;
      font-family: $font3;
      text-shadow: none;
      transition: 0.5s;
      font-weight: 0;
      &:hover {
        color: #7f5539;
        text-shadow: none;
      }
    }
    .aheslinks {
      color: #a8dadc;
      font-family: $font5;
      text-shadow: none;
      transition: 0.5s;
      font-weight: 0;
      &:hover {
        color: #a8dadc;
        text-shadow: none;
      }
    }
    .humblelinks {
      color: #d8f3dc;
      font-family: $font6;
      text-shadow: none;
      font-weight: 300;
      font-weight: 0;
      transition: 0.5s;
      &:hover {
        color: #d8f3dc;
        text-shadow: none;
      }
    }
  }
}

.blookify {
  background: #e6ccb2;
  box-shadow: 0px 10px 20px #38261a6b;
}

.ahes {
  background: #1d3557;
  box-shadow: 0px 10px 20px #1d3557;
}
.humble {
  background: #2d6a4f;
  box-shadow: 0px 10px 20px #081c15;
}
.link-color {
  color: black;
}
