//                              FONTS                              //
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
// Portfolio-fonts
$font1: 'Arimo', sans-serif;

.home-container {
  position: relative;
  height: 100vh;
  background: #2b2c28;
}
