.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  background: #ffffff;
  overflow-x: hidden;

  .transition-img-cont,
  .transition-img-cont2,
  .transition-img-cont3,
  .transition-img-cont4 {
    position: relative;
    height: 330px;
    width: 100%;
    background-image: url('../assets/transition5.png');
    background-position: center;
    background-repeat: no-repeat;
    .element1 {
      position: absolute;
      height: 100px;
      width: 100%;
      bottom: -13px;
    }
  }
  .transition-img-cont2 {
    background-image: url('../assets/transition6.png');
    .element2 {
      position: absolute;
      height: 100px;
      width: 100%;
      bottom: -10px;
    }
  }
  .transition-img-cont3 {
    background-image: url('../assets/transition3.2.png');
    .element3 {
      position: absolute;
      height: 100px;
      width: 100%;
      bottom: -10px;
    }
  }
  .transition-img-cont4 {
    background-image: url('../assets/transition4.png');
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2c28;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}
