@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
$monoton: "Monoton", cursive;
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
$font2: "Fjalla One", sans-serif;

.mode-btn {
  position: fixed;
  width: 20%;
  height: 80px;
  padding-left: 0px;
  top: 0%;
  right: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: none;
  .btn {
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .color-icon {
      margin-right: 10px;
      color: yellow;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        transform: translateY(-5px);
      }
    }
    .divider {
      color: white;
      font-family: $font2;
    }
    .color-icon-2 {
      cursor: pointer;
      margin-left: 0px;
      color: #68369a;
      transition: 0.5s;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

// Dark theme
.fluid-cont {
  position: relative;
  height: 100vh;
  display: flex;
  .link-container {
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 2;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    .link {
      position: relative;
      cursor: pointer;
      color: white;
      transition: 0.5s;
      margin: 20px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        position: absolute;
        right: 0%;
        color: white;
        padding-left: 20px;
      }
      &:hover {
        transform: translateX(5px);
        color: #68369a;
      }
    }
  }
  .video1 {
    position: fixed;
    width: 100%;
    z-index: -1;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .main-cont {
    position: relative;
    background: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .welcome-h1 {
      color: #492d66;
      font-size: 150px;
      width: 100%;
      font-family: $monoton;
      @media screen and (max-width: 1500px) {
        font-size: 100px;
      }
    }
    .name-h1 {
      position: relative;
      bottom: 9%;
      background: none;
      width: 100%;
      height: 30px;
      letter-spacing: 5px;
      font-family: $font2;
      color: white;
      @media screen and (max-width: 1500px) {
        bottom: 5%;
      }
    }
    .dev-h1 {
      position: relative;
      bottom: 9%;
      font-size: 50px;
      color: white;
      width: 100%;
      height: 50px;
      left: 0;
      background: none;
      font-family: $monoton;
      color: #774e71;
      @media screen and (max-width: 1500px) {
        bottom: 6%;
        padding-left: 35px;
      }
    }
  }
}
// Projects container
.projects-fluid-cnt {
  position: relative;
  height: 100vh;
  background: #090d0f;
  .projects-cnt {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
  }
}

// light theme
.link-lighttheme {
  position: relative;
  cursor: pointer;
  color: black;
  transition: 0.5s;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    transform: translateX(5px);
    color: #03dac6;
  }
}
.welcome-h1-light {
  color: #03dac6;
  font-size: 150px;
  width: 100%;
  font-family: $monoton;
  @media screen and (max-width: 1500px) {
    font-size: 100px;
  }
}
.dev-h1-light {
  position: relative;
  bottom: 9%;
  font-size: 50px;
  color: white;
  width: 100%;
  left: 0;
  background: none;
  font-family: $monoton;
  color: #10887e;
  @media screen and (max-width: 1500px) {
    bottom: 6%;
    padding-left: 35px;
  }
}

.projects-lightBG {
  height: 100vh;
  background: #305a65;
}
