@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
$monoton: "Monoton", cursive;
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
$font2: "Fjalla One", sans-serif;

.mode-btn {
  position: fixed;
  width: 20%;
  height: 80px;
  padding-left: 0px;
  top: 0%;
  right: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: none;
  @media screen and (max-width: 980px) {
    top: 10%;
  }
  .btn {
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 980px) {
      background: rgba(20, 20, 42, 0.4);
      box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
      backdrop-filter: blur(15.5px);
      -webkit-backdrop-filter: blur(15.5px);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      width: 100px;
      height: 50px;
    }
    .color-icon {
      margin-right: 10px;
      color: #03dac6;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        transform: translateY(-5px);
      }
    }
    .divider {
      color: white;
      font-family: $font2;
      font-size: 20px;
    }
    .color-icon-2 {
      cursor: pointer;
      margin-left: 0px;
      color: #68369a;
      transition: 0.5s;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

// Dark theme
.fluid-cont {
  position: relative;
  height: 100vh;
  display: flex;
  @media screen and (max-width: 800px) {
  }

  .link-container {
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 2;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;

    @media screen and (max-width: 800px) {
      height: 100px;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      bottom: 0;
      background: none;
    }
    .link {
      position: relative;
      cursor: pointer;
      color: #6523ac;
      transition: 0.5s;
      margin: 20px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      @media screen and (max-width: 800px) {
        margin: 0px 20px;
      }
      p {
        position: absolute;
        right: 0%;
        color: white;
        padding-left: 20px;
      }
      &:hover {
        transform: translateX(5px);
        color: #3a1b58;
      }
    }
  }
  .video1 {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: -1;
    @media screen and (max-width: 800px) {
      display: none;
      position: relative;
      z-index: -100;
    }
  }
  .main-cont {
    position: relative;
    background: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .welcome-h1 {
      color: #492d66;
      font-size: 150px;
      width: 100%;
      font-family: $monoton;
      text-shadow: 5px 0px 5px black;
      transition: 0.5s;

      @media screen and (max-width: 1500px) {
        font-size: 100px;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
        font-size: 80px;
      }
      @media screen and (max-width: 500px) {
        font-size: 50px;
      }
    }
    .name-h1 {
      position: relative;
      bottom: 5%;
      background: none;
      width: 100%;
      height: 30px;
      letter-spacing: 5px;
      font-family: $font2;
      color: rgba(255, 255, 255, 0.76);
      transition: 0.5s;

      @media screen and (max-width: 1500px) {
        bottom: 5%;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
        letter-spacing: 0px;
        margin: 10px 0px;
      }
      @media screen and (max-width: 500px) {
        font-size: 20px;

        bottom: 2%;
      }
    }
    .dev-h1 {
      color: #681e68;
      position: relative;
      bottom: 5%;
      font-size: 50px;
      width: 100%;
      height: 50px;
      left: 0;
      background: none;
      font-family: $monoton;
      transition: 0.5s;

      @media screen and (max-width: 1500px) {
        bottom: 6%;
        padding-left: 35px;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
        bottom: 5%;
        font-size: 30px;
      }
      @media screen and (max-width: 500px) {
        font-size: 25px;
        bottom: 3%;
        width: 100%;
        text-align: center;
        left: 0px;
        padding-left: 0px;
      }
    }
    .button-ctn {
      position: relative;
      width: 100%;
      top: -5%;
      background: none;
      display: flex;
      justify-content: flex-start;
      padding-left: 0px;
      z-index: 3;
      @media screen and (max-width: 800px) {
        justify-content: center;
      }
      @media screen and (max-width: 370px) {
        top: 0;
      }
      .button {
        position: relative;
        width: 200px;
        height: 50px;
        background: none;
        border: 2px solid white;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        font-family: $font2;

        &:hover {
          text-decoration: none;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 0px;
          border-top-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}
// Projects container
.projects-fluid-cnt {
  position: relative;
  height: 100%;
  background: #090d0f;
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  .BGpng {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .projects-cnt {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    background: none;
    .particles-1 {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    h1 {
      color: white;
      position: relative;
      width: 100%;
      height: 100px;
      margin-bottom: 20px;
      font-family: $monoton;
      top: 50px;
      font-size: 60px;
      text-align: center;
      z-index: 3;
      @media screen and (max-width: 350px) {
        font-size: 40px;
      }
    }
    .row-1 {
      position: relative;
      height: 100%;
      background: none;
      padding-top: 40px;
      display: flex;
      justify-content: center;
    }
  }
}
.slide2 {
  overflow-x: hidden;
}

// light theme
.link-lighttheme {
  position: relative;
  cursor: pointer;
  color: #03dac6;
  transition: 0.5s;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    transform: translateX(5px);
    color: #03dac6;
  }
}
.welcome-h1-light {
  color: #03dac6;
  font-size: 150px;
  width: 100%;
  font-family: $monoton;
  text-shadow: 5px 0px 5px black;
  transition: 0.5s;

  @media screen and (max-width: 1500px) {
    font-size: 100px;
  }
  @media screen and (max-width: 800px) {
    text-align: center;
    font-size: 80px;
  }
  @media screen and (max-width: 500px) {
    font-size: 50px;
  }
}
.dev-h1-light {
  color: #10887e;
  position: relative;
  bottom: 5%;
  font-size: 50px;
  width: 100%;
  height: 50px;
  left: 0;
  background: none;
  font-family: $monoton;
  transition: 0.5s;

  @media screen and (max-width: 1500px) {
    bottom: 6%;
    padding-left: 35px;
  }
  @media screen and (max-width: 800px) {
    text-align: center;
    bottom: 5%;
    font-size: 30px;
  }
  @media screen and (max-width: 500px) {
    font-size: 25px;
    bottom: 3%;
    width: 100%;
    text-align: center;
    left: 0px;
    padding-left: 0px;
  }
}

.projects-lightBG {
  background: #305a65;
  background-size: cover;
  // background-image: url(../assets/BGlight.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

@keyframes fadedup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulseup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
