@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.mode-btn {
  position: fixed;
  width: 20%;
  height: 80px;
  padding-left: 0px;
  top: 0%;
  right: 0;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: none;
}

@media screen and (max-width: 980px) {
  .mode-btn {
    top: 10%;
  }
}

.mode-btn .btn {
  position: relative;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 980px) {
  .mode-btn .btn {
    background: rgba(20, 20, 42, 0.4);
    -webkit-box-shadow: 0 8px 32px 0 black;
            box-shadow: 0 8px 32px 0 black;
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100px;
    height: 50px;
  }
}

.mode-btn .btn .color-icon {
  margin-right: 10px;
  color: #03dac6;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mode-btn .btn .color-icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.mode-btn .btn .divider {
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
}

.mode-btn .btn .color-icon-2 {
  cursor: pointer;
  margin-left: 0px;
  color: #68369a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mode-btn .btn .color-icon-2:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.fluid-cont {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fluid-cont .link-container {
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 2;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

@media screen and (max-width: 800px) {
  .fluid-cont .link-container {
    height: 100px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    bottom: 0;
    background: none;
  }
}

.fluid-cont .link-container .link {
  position: relative;
  cursor: pointer;
  color: #6523ac;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .fluid-cont .link-container .link {
    margin: 0px 20px;
  }
}

.fluid-cont .link-container .link p {
  position: absolute;
  right: 0%;
  color: white;
  padding-left: 20px;
}

.fluid-cont .link-container .link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #3a1b58;
}

.fluid-cont .video1 {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .fluid-cont .video1 {
    display: none;
    position: relative;
    z-index: -100;
  }
}

.fluid-cont .main-cont {
  position: relative;
  background: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fluid-cont .main-cont .welcome-h1 {
  color: #492d66;
  font-size: 150px;
  width: 100%;
  font-family: "Monoton", cursive;
  text-shadow: 5px 0px 5px black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1500px) {
  .fluid-cont .main-cont .welcome-h1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 800px) {
  .fluid-cont .main-cont .welcome-h1 {
    text-align: center;
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .fluid-cont .main-cont .welcome-h1 {
    font-size: 50px;
  }
}

.fluid-cont .main-cont .name-h1 {
  position: relative;
  bottom: 5%;
  background: none;
  width: 100%;
  height: 30px;
  letter-spacing: 5px;
  font-family: "Fjalla One", sans-serif;
  color: rgba(255, 255, 255, 0.76);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1500px) {
  .fluid-cont .main-cont .name-h1 {
    bottom: 5%;
  }
}

@media screen and (max-width: 800px) {
  .fluid-cont .main-cont .name-h1 {
    text-align: center;
    letter-spacing: 0px;
    margin: 10px 0px;
  }
}

@media screen and (max-width: 500px) {
  .fluid-cont .main-cont .name-h1 {
    font-size: 20px;
    bottom: 2%;
  }
}

.fluid-cont .main-cont .dev-h1 {
  color: #681e68;
  position: relative;
  bottom: 5%;
  font-size: 50px;
  width: 100%;
  height: 50px;
  left: 0;
  background: none;
  font-family: "Monoton", cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1500px) {
  .fluid-cont .main-cont .dev-h1 {
    bottom: 6%;
    padding-left: 35px;
  }
}

@media screen and (max-width: 800px) {
  .fluid-cont .main-cont .dev-h1 {
    text-align: center;
    bottom: 5%;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .fluid-cont .main-cont .dev-h1 {
    font-size: 25px;
    bottom: 3%;
    width: 100%;
    text-align: center;
    left: 0px;
    padding-left: 0px;
  }
}

.fluid-cont .main-cont .button-ctn {
  position: relative;
  width: 100%;
  top: -5%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0px;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  .fluid-cont .main-cont .button-ctn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 370px) {
  .fluid-cont .main-cont .button-ctn {
    top: 0;
  }
}

.fluid-cont .main-cont .button-ctn .button {
  position: relative;
  width: 200px;
  height: 50px;
  background: none;
  border: 2px solid white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Fjalla One", sans-serif;
}

.fluid-cont .main-cont .button-ctn .button:hover {
  text-decoration: none;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.projects-fluid-cnt {
  position: relative;
  height: 100%;
  background: #090d0f;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.projects-fluid-cnt .BGpng {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.projects-fluid-cnt .projects-cnt {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 50px 0px;
  background: none;
}

.projects-fluid-cnt .projects-cnt .particles-1 {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.projects-fluid-cnt .projects-cnt h1 {
  color: white;
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  font-family: "Monoton", cursive;
  top: 50px;
  font-size: 60px;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 350px) {
  .projects-fluid-cnt .projects-cnt h1 {
    font-size: 40px;
  }
}

.projects-fluid-cnt .projects-cnt .row-1 {
  position: relative;
  height: 100%;
  background: none;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide2 {
  overflow-x: hidden;
}

.link-lighttheme {
  position: relative;
  cursor: pointer;
  color: #03dac6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-lighttheme:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #03dac6;
}

.welcome-h1-light {
  color: #03dac6;
  font-size: 150px;
  width: 100%;
  font-family: "Monoton", cursive;
  text-shadow: 5px 0px 5px black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1500px) {
  .welcome-h1-light {
    font-size: 100px;
  }
}

@media screen and (max-width: 800px) {
  .welcome-h1-light {
    text-align: center;
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .welcome-h1-light {
    font-size: 50px;
  }
}

.dev-h1-light {
  color: #10887e;
  position: relative;
  bottom: 5%;
  font-size: 50px;
  width: 100%;
  height: 50px;
  left: 0;
  background: none;
  font-family: "Monoton", cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1500px) {
  .dev-h1-light {
    bottom: 6%;
    padding-left: 35px;
  }
}

@media screen and (max-width: 800px) {
  .dev-h1-light {
    text-align: center;
    bottom: 5%;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .dev-h1-light {
    font-size: 25px;
    bottom: 3%;
    width: 100%;
    text-align: center;
    left: 0px;
    padding-left: 0px;
  }
}

.projects-lightBG {
  background: #305a65;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

@-webkit-keyframes fadedup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadedup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=landingpage.css.map */