@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.projects-fld-cnt {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.projects-fld-cnt .particles-1 {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.projects-fld-cnt .row-1 {
  position: relative;
  height: 100%;
  width: 100%;
}

.projects-fld-cnt .row-1 .col-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: none;
}

.projects-fld-cnt .row-1 .col-1 .project-info {
  position: relative;
  top: 10%;
  background: red;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-fld-cnt .row-1 .col-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

.projects-fld-cnt .row-1 .col-2 .svg {
  height: 100%;
  width: 100%;
  z-index: 5;
}

.projects-fld-cnt .row-1 .col-2 .png {
  position: absolute;
  height: auto;
  width: 600px;
  left: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.projects-fld-cnt .row-1 .col-2 .png:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1500px) {
  .projects-fld-cnt .row-1 .col-2 .png {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .projects-fld-cnt .row-1 .col-2 .png {
    width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 1100px) {
  .projects-fld-cnt .row-1 .col-2 .png {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 1100px) {
  .projects-fld-cnt .row-1 .col-2 .png {
    width: 300px;
    height: auto;
    z-index: 0;
  }
}

#bubble1,
#bubble2,
#bubble3,
#bubble4,
#bubble5,
#bubble6 {
  -webkit-animation: up 15s infinite linear;
          animation: up 15s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#bubble7,
#bubble8 {
  -webkit-animation: down 10s infinite linear;
          animation: down 10s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#triangle1 {
  -webkit-animation: spin1 10s infinite linear;
          animation: spin1 10s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#innercircle1,
#innercircle2 {
  -webkit-animation: spin1 3s infinite linear;
          animation: spin1 3s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes spin1 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin1 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

#circle1,
#circle2,
#boxedcont1,
#boxedcont2 {
  -webkit-animation: down2 10s infinite linear;
          animation: down2 10s infinite linear;
}

@-webkit-keyframes down2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=project.css.map */