//                              FONTS                              //
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');
// Portfolio-fonts
$font1: 'Lobster', cursive;
$font2: 'Fira Sans', sans-serif;
$font3: 'Hind Gunter', sans-serif;

.blookify-page-cont {
  position: relative;
  height: 75vh;
  width: 100%;
  background: #ede0d4;
  display: flex;
  flex-direction: row;
  padding: 0px 0px;
  @media screen and (max-width: 1200px) {
    height: 1000px;
    flex-direction: column;
  }
  .info-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 1200px) {
      height: 500px;
      align-items: center;
      padding: 0px 0px;
      padding-top: 50px;
    }
    .video-container {
      position: relative;
      height: 500px;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.877);
      @media screen and (max-width: 1200px) {
        width: 95%;
        height: 400px;
        margin-bottom: 10px;
      }
    }
    .link-container {
      position: relative;
      width: 90%;
      height: 65px;
      background: #ddb892;
      border-radius: 20px;
      margin: 20px 0px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
      transition: 0.5s;

      display: flex;
      align-items: center;
      justify-content: center;
      color: #9c6644;
      font-family: $font1;
      font-size: 25px;
      @media screen and (max-width: 1200px) {
        width: 85%;
        height: 50px;
        margin: 20px 0px;
      }
      @media screen and (max-width: 500px) {
        width: 90%;
        height: 50px;
        margin: 5px 0px;
      }
      &:hover {
        transform: translateY(-5px);
        text-decoration: none;
      }
      .link-icon {
        position: absolute;
        left: 20%;
        color: #7f5539;
        font-size: 35px;
      }
    }
    .project-title {
      position: absolute;
      top: -13px;
      left: 120px;
      width: 100%;
      font-size: 65px;
      font-family: $font1;
      color: #b08968;
      @media screen and (max-width: 1200px) {
        left: 0px;
        text-align: center;
      }
      @media screen and (max-width: 600px) {
        font-size: 50px;
        top: 2px;
      }
    }
  }
  .right-col {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1200px) {
      position: absolute;
      bottom: 80px;
      height: 50%;
      align-items: center;
      padding: 0px 0px;
      padding-top: 50px;
    }
    @media screen and (max-width: 750px) {
      position: relative;
      bottom: 50px;
    }
    .project-name {
      position: relative;
      width: 100%;
      height: 100px;
      text-align: center;
      font-size: 100px;
      color: #9c6644;
      font-family: $font1;
    }
    .tech-used-container {
      position: relative;
      width: 100%;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 30px;
        font-family: $font3;
        text-transform: uppercase;
        color: #9c66446e;
        text-decoration: underline #9c66446e;
        left: 50px;
        margin-top: 30px;
        cursor: default;
      }
      .tech {
        position: relative;
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @media screen and (max-width: 800px) {
          width: 90%;
        }
        .tech-icon {
          font-size: 50px;
          color: #7f5539;
          transition: 0.5s;
          cursor: default;
          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
    .adjust-container {
      position: relative;
      height: 100px;
      width: 50%;
      display: flex;
      flex-direction: column;
      background: none;
      margin: 30px 0px;
      @media screen and (max-width: 800px) {
        width: 80%;
        left: 0%;
      }
      @media screen and (max-width: 550px) {
        width: 90%;
      }
      @media screen and (max-height: 600px) {
        height: 80px;
      }
      p {
        color: #7f5539;
        text-transform: uppercase;
        padding-left: 15px;
        @media screen and (max-width: 800px) {
          text-align: center;
        }
        @media screen and (max-width: 550px) {
          padding-left: 0px;
        }
      }
      .button-cnt {
        position: relative;
        width: 100%;
        height: 50px;
        background: none;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: none;
        @media screen and (max-width: 800px) {
          padding-left: 0px;
        }
        @media screen and (max-width: 550px) {
          justify-content: center;
        }
        .radio {
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          margin-right: 20px;
        }
        .button {
          position: relative;
          left: 25px;
          opacity: 0;
          cursor: pointer;
          height: 25px;
          width: 25px;
          @media screen and (max-width: 350px) {
            height: 20px;
            width: 20px;
          }
        }
        .radio__radio {
          width: 25px;
          height: 25px;
          border: 2px solid #ddb892;
          border-radius: 50%;
          margin-right: 10px;
          box-sizing: border-box;
          padding: 3px;
          @media screen and (max-width: 350px) {
            height: 20px;
            width: 20px;
          }
        }
        .radio__radio::after {
          content: ' ';
          width: 100%;
          height: 100%;
          display: block;
          background: #7f5539;
          border-radius: 50%;

          transform: scale(0);
          transition: 0.35s;
        }
        .button:checked + .radio__radio::after {
          transform: scale(1);
        }
      }

      .button-text {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 30px;
        .shortest {
          position: absolute;
          left: 0px;
        }
        .longest {
          position: absolute;
          right: 0px;
        }
      }
    }
    .blookify-p {
      position: relative;
      font-family: $font3;
      color: #7f5539;
      text-align: center;
      width: 70%;
      min-height: 350px;
      z-index: 6;
      font-size: 20px;
      margin-top: 20px;
      overflow-y: auto;
      @media screen and (max-width: 1500px) {
        width: 80%;
      }
      @media screen and (max-width: 800px) {
        text-align: center;
        width: 100%;
        padding-top: 20px;
      }
      @media screen and (max-width: 1200px) {
        padding: 0px 50px;
        font-size: 15px;
      }
      @media screen and (max-height: 600px) {
        padding: 20px 0px;
        font-size: 15px;
        height: 150px;
        overflow-y: auto;
      }
      @media screen and (max-height: 900px) {
        font-size: 16px;
        padding-right: 0px;
      }
      @media screen and (max-height: 820px) {
        height: 150px;
        overflow-y: auto;
        padding-bottom: 100px;
      }
      @media screen and (max-width: 550px) {
        padding-left: 0px;
        font-size: 15px;
        padding: 0px 20px;
      }
    }
    .blookify-p::-webkit-scrollbar-track {
      background: #ddb892;
    }
    .blookify-p::-webkit-scrollbar-thumb {
      background: #7f5539;
    }
  }
}
